
body {
    width: 90%;
    max-width: 1200px;
    min-width: 350px;

    color: #414747;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    /*
        You can short-hand these 3 into 1!

        background-color: #fff;
        background-image: url("resources/360_F_499464783_CMvHKvK3viubFB96JR0u0nDNNE7cTj3m.jpg");
        background-repeat: repeat;
        background-attachment: fixed;

        like this!

       background: #fff url("resources/360_F_499464783_CMvHKvK3viubFB96JR0u0nDNNE7cTj3m.jpg") fixed;

    */

    background-color: #fff;
}
.evenly-spaced {
    padding: 1%;
    margin: 1%;
    border-radius: 4px;
    overflow: auto;
}
#header{
    width: 99%;
    background: #cfcfcf url(resources/code-48.png) no-repeat;
    background-position-y: center;
    background-position-x: 97%;
}

img.logo {
    z-index: 11;
}
#header h1 {
    display: inline;
}

#left-page, #right-page {
    background-color: #EEEDE7;
}

#left-page {
    width: 31%;
    float: left;
}

#right-page {
    width: 61%;
    float: left;
}

#footer {
    width: 99%;
    background-color: #f3f3f3;


}