body {
    color: #4A4947;
    background-color: #FAF7F0;
    font-family: SansSerif, Ge, C059, sans-serif
}

div {
    background-color: #D8D2C2;
    padding: 10px;
    border-radius: 10px;
    margin: 20px;
}

table {
    padding: 10px;
    background-color : #b3a4a0;
    border-radius: 6px;
    font-family: Arial, serif;
    color: #4A4947;

}
thead th {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 25px;;
}
td {
    padding: 5px;
    font-size: 20px;
    text-align: right;
}
td:hover {
    background-color: #D8D2C2;
}
tr:hover {
    background-color: #d1c7ad;
}
tr {
    border-color: #4A4947;
    border-width: 2px;
    border-style: groove;
}

.footer {
    font-weight: bold;
}


/* Avoid showing empty cell*/
.empty-cell {
    visibility: hidden;

    /* You can also do this inside: table {

    empty-cells: hide;
    }
    */
}


/* This rule acually prevents the browser from
    even including the element into the browser!

    display: hidden;
*/


/* Now moving on - lets style some Forms!!! */
fieldset {
    width: 69%;

    padding: 15px;
    border-radius: 4px;
    border-style: dot-dash;
    border-width: 10px;

    background-color: #D8D2C2;

    text-align: left;
}

legend {
    padding: 10px;
    font-weight: bold;
    font-size: 120%;
}


input[type="radio"] {
    padding: 5px;
    font-weight: bold;
}
label {
    margin-bottom: 5px;
}

legend {
    border: 3px solid #3B3030;
    border-radius: 8px;
}
legend:hover {
    background-color: rgba(141, 102, 68, 0.21);
}

textarea {
    font-weight: lighter;
    background-color: #ddd8d0;

    border-style: dot-dot-dash;
    border-radius: 10px;
    padding: 7px;
}
input#submit {
    padding: 5px;
    border-radius: 4px;
    font-family: SansSerif, serif;
    font-size: 18px;
    background-color: #d8ccb2;
}

input#submit:hover {
    background-color: #FAF7F0;
}

.name-inputs {
    background-color: inherit;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;

    font-weight: lighter;
    color: inherit;

    padding: 3px;
}

label input {
    margin: 4px;
}

form#form-2 span {
    float: right;
}