body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #6C4E31;
    background-color: #FFDBB5;
    font-size: 16px;
}


p {
    font-family: SansSerif, Geneva, C059, sans-serif;
    text-indent: 20px;
    text-align: left;
}


#top-page {
    text-align: center;
    font-weight: bold;
    color: #FFEAC5;
    background-color: #603F26;
    border-radius: 10px;
    font-family: SansSerif, Geneva, C059, sans-serif;

    padding: 20px;
}
/* Pseudo-elements */
#top-page:hover {
    background-color: #603F5B;
    color: #FFEAF5;
}

#mid-page {
    text-align: center;
    background-color: #FFDBB5;
}

#bottom-page {
    text-align: center;
}
#read-more {
    padding: 8px;
    background-color: #603F26;
    color: #FFEAF5;
    border-radius: 20px;
    border-width: 10px;
}
/* Pseudo-elements */
#read-more:hover {
    background-color: #603F5B;
    padding-left: 90px;
    padding-right: 90px;
}
/* Pseudo-elements */
p:first-letter {
    font-size: 150%;
    font-weight: bold;
}

li {
    font-size: 20px;
    font-weight: bold;
}

li p:first-letter {
    font-size: 16px !important;
    font-weight: normal;
}
li p {
    font-size: 16px;
    font-weight: normal;
}


h1  {
    font-size: 32px;
}
h2 {
    font-size: 24px;
}
h3 {
    font-size: 18px;
}

a:active {
    font-weight: bolder;
}

#bordered {
    text-align: center;
    padding: 10px;
    border-radius: 60px;
    color: #FAF7F0;
    background-color: rgba(141, 102, 68, 0.84);
}

.syntax {
    font-weight: normal;
    padding: 7px;
    border-radius: 30px;
    color: #FAF7F0;
    background-color: rgba(141, 102, 68, 0.84);
}

ul {
    padding: 25px;
    border-radius: 20px;
    background-color: rgba(239, 200, 168, 0.84);
}